# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Node (au cas où on ajoute des outils plus tard)
node_modules/
.npm
.cache/

# Environnement
.env
.env.local

# Build (futur)
dist/
build/
.parcel-cache/

# Tests
coverage/
